@import "main_style.css";

main{
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
}

h2{
     text-align: left;
}

article{
     display: block;
     align-content: center;
     border-style: solid;
     padding: 10px;
     font-size: larger;
}

img{
     width: 100%;
     margin-top: auto;
     margin-bottom: auto;
}

@media only screen and (max-width:1000px){
     main{
          grid-template-columns: 1fr;
     }
}