@import "main_style.css";

form{
    display: grid;
    grid-template-areas: 
    'type message'
    'name message'
    'email message'
    'phone message'
    'adress message'
    'submit submit';
    gap: 10px;
    grid-template-columns: auto 1fr;

}

input{
    border-style: solid;
    background-color: rgba(0,0,0,0);
    padding: 15px;
}

input:focus{
    border-color: var(--accent_color);
    outline: none;
}

#subButton{
    grid-area: submit;
}

#jmenoInput{
    grid-area: name;
}

#emailInput{
    grid-area: email;
}

#telInput{
    grid-area: phone;
}

#message{
    grid-area: message;
}

#typeInput{
    grid-area: type;
}

#adressInput{
    grid-area: adress;
}