@import "main_style.css";

form {
    display: grid;
    grid-template-areas:
        'type type message'
        'name surname message'
        'email email message'
        'phone phone message'
        'address address message'
        'submit submit submit';
    gap: 15px;
    grid-template-columns: auto auto 1fr;
    height: 100%;

}

input {
    border-style: solid;
    background-color: rgba(0, 0, 0, 0);
    padding: 15px;
    text-align: center;
    font-size: larger;
}

input:focus {
    border-color: var(--important_color);
    outline: none;
}

textarea:focus {
    outline: none;
}

#subButton {
    grid-area: submit;
    font-size: larger;
}

#jmenoInput {
    grid-area: name;
}

#surnameInput {
    grid-area: surname;
}

#emailInput {
    grid-area: email;
}

#telInput {
    grid-area: phone;
}

#message {
    border-style: none;
    width: 100%;
    height: 100%;
    resize: none;
    font-size: larger;
}

#textBorder {
    border-style: solid;
    grid-area: message;
    padding: 20px 10px;
    width: 100%;
}

#textBorder:has(#message:focus){
    border-color: var(--important_color);
}

#typeInput {
    grid-area: type;
    font-size: larger;
    padding: 10px 0px;
    text-align: center;
}

#adressInput {
    grid-area: address;
}

@media only screen and (max-width:1000px) {
    form {
        grid-template-areas:
            'type type'
            'name surname'
            'email email'
            'phone phone'
            'address address'
            'message message'
            'submit submit';
        grid-template-columns: 1fr 1fr;
    }
}