:root{
    --background_color: gray;
    --segment_color: white;

    /*https://coolors.co/0b0033-370031-832232-ce8964-eaf27c*/
    --secondary_segment_color:#0B0033;
    --text_color: #EAF27C;
    --accent_color: #370031;
    --border_color: #832232;
    --secondary_text_color: #CE8964;

    --main_font_family: Georgia, 'Times New Roman', Times, serif;
}

*{
    color: var(--text_color);
    font-family: var(--main_font_family);
    margin: 0%;
    border-radius: 25px;
    border-color: var(--border_color);
}

html{
    height: 100%;
    width: 100%;
}

body{
    min-height: 100%;
    display: grid;
    grid-template-areas: 
        'nav header'
        'nav main'
        'nav footer';
    grid-template-columns: 1fr 12fr;
    grid-template-rows: 10fr 100fr 10fr;
    justify-content: center;
    align-content: center;
    background-color: var(--background_color);
    gap: 1% 0.5%;
    margin-left: 0%;
    margin-right: 0.5%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    background-color: var(--accent_color);
    border-radius: 25px;
    /*border-width: 2px;
    border-style: solid;*/
}

header p{
    display: inline;
    margin: 0.5% 2% 0.5%;
}

nav{
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary_segment_color);
    border-radius: 0px;
}

nav a{
    display: block;
    text-align: center;
    margin: 0% 20%;
    
}

.actual_site{
    background-color: var(--accent_color);
}

main{
    grid-area: main;
}

footer{
    display: grid;
    grid-area: footer;
    grid-template-areas: 
        'left center right'
        'copy copy copy';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: end;
    align-content: center;
    background-color: var(--secondary_segment_color);
    padding: 1% 2%;
    row-gap: 30%;
}

footer p{
    
}

footer .left{
    grid-area: left;
    text-align: left;
}

footer .center{
    grid-area: center;
    text-align: center;
}

footer .right{
    grid-area: right;
    text-align: right;
}

footer .copy{
    grid-area: copy;
    text-align: center;
}

@media only screen and (max-width:769px){
    body{
       
    }


}

@media only screen and (max-width:480px){
    footer{
        grid-template-areas: 
            'left'
            'center'
            'right'
            'copy';
    }
    
    body{
        grid-template-areas: 
            'nav'
            'header'
            'main'
            'footer';
    }

    nav{
        position: sticky;
    }

    
}